<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
	    <title data-th-text="#{label.add.attribute}"></title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	</head>
	<body>
		<h2 data-th-text="#{label.add.new.attribute}"></h2>
		<div>
			<form th:object="${attribute}" th:action="@{/attributes/save}" method="post">
			  	<label data-th-text="#{label.attribute}"></label>
				<input type="text" id="name" th:field="*{name}" required />
				<p></p>
				<input type="submit" class="btn btn-success" th:value="#{label.save}"></input>
			</form>
			<p></p>
			<a href="/attributes" class="btn btn-info" data-th-text="#{label.back}"></a>
			<p></p>
			<form th:action="@{logout}" method="post">
				<input type="submit" th:value="#{label.logout}" class="btn btn-danger" />
			</form>
		</div>
	</body>
</html>