<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
	    <title>Add Game</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	</head>
	<body>
		<form th:action="@{logout}" method="post">
			<input type="submit" value="Sign out" class="btn btn-danger" />
		</form>
		<h2>Add new game</h2>
		<div>
			<form th:object="${game}" th:action="@{/save}" method="post" class="form">
			  	<label>Title: </label>
				<input type="text" id="title" th:field="*{title}" th:required="required" />
				<p></p>
				<label>Release Year: </label>
				<input type="text" id="year" th:field="*{year}" th:required="required" />
				<p></p>
				<label>Age Restriction (0 for n/a or not rated): </label>
				<input type="text" id="age" th:field="*{age}" th:required="required" />
				<p></p>
				<label>Platform (if platform not listed, create one: <a href="/addplatform" class="btn btn-default">/addplatform</a>): </label>
			 	<select id="platforms" th:field="*{platform}" class="form-control">
       				<option th:each="platform: ${platforms}"
       				th:value="${platform.id}" th:text="${platform.name}"></option>
    			</select>
				<p></p>
				<input type="submit" class="btn btn-success" value="Save"></input>
			</form>
			<a href="/gamelibrary" class="btn btn-default">&larr; Back</a>
		</div>
	</body>
</html>