<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
	    <title data-th-text="#{label.add.game}">Add Game</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	</head>
	<body>
		<form th:action="@{logout}" method="post">
			<input type="submit" value="Sign out" class="btn btn-danger" />
		</form>
		<h2 data-th-text="#{label.add.new.game}"></h2>
		<div>
			<form th:object="${game}" th:action="@{/save}" method="post" class="form">
			  	<label data-th-text="#{label.game.title}"></label>
				<input type="text" id="title" th:field="*{title}" required />
				<p></p>
				<label data-th-text="#{label.game.year}"></label>
				<input type="text" id="year" th:field="*{year}" required />
				<p></p>
				<label data-th-text="#{label.game.age}"></label>
				<input type="text" id="age" th:field="*{age}" required />
				<p data-th-text="#{label.age.info}"></p>
				<p></p>
				<label data-th-text="#{label.platform}"></label>
			 	<select id="platforms" th:field="*{platform}" class="form-control">
       				<option th:each="platform: ${platforms}"
       				th:value="${platform.id}" th:text="${platform.name}"></option>
    			</select>
				<p></p>
				<input type="submit" class="btn btn-success" th:value="#{label.save}"></input>
			</form>
			<a href="/gamelibrary" class="btn btn-info" data-th-text="#{label.back}"></a>
		</div>
	</body>
</html>