<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
	    <title th:text="#{label.add.game.attribute}"></title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	</head>
	<body>
		<h2 th:text="#{label.add.game.attribute}"></h2>
		<div>
			<form th:action="@{/game/{id}/attributes/add/{attid}(id=${game.id},attid=${attribute.id})}" method="get" th:each="attribute: ${attributes}">
				<p th:text="${attribute.name}"></p>
				<input type="submit" class="btn btn-success" th:value="#{label.add}"></input>
			</form>
			<p></p>
			<a th:href="@{/game/{id}/attributes(id=${game.id})}" class="btn btn-info" data-th-text="#{label.back}"></a>
			<p></p>
			<form th:action="@{logout}" method="post">
				<input type="submit" th:value="#{label.logout}" class="btn btn-danger" />
			</form>
		</div>
	</body>
</html>