<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
	    <title>Add Platform</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	</head>
	<body>
		<h2>Add a new platform</h2>
		<div>
			<form th:object="${platform}" th:action="@{/saveplatform}" method="post">
			  	<label for="name">Platform</label>
				<input type="text" id="name" th:field="*{name}" />
				<p></p>
				<input type="submit" class="btn btn-success" value="Save"></input>
			</form>
		<a href="/platforms" class="btn">&larr; Back</a>
		</div>
	</body>
</html>