<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
	    <title data-th-text="#{label.game.edit}"></title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	</head>
	<body>
		<h2 data-th-text="#{label.game.edit}"></h2>
		<div>
			<form th:object="${game}" th:action="@{/game/save}" method="post">
				<input type="hidden" th:field="*{id}" />
				<input type="hidden" th:object="${game.attributes}" />
			  	<label th:text="#{label.game.title}"></label>
				<input th:field="*{title}" />
				<p></p>
				<label th:text="#{label.game.year}"></label>
				<input th:field="*{year}" />
				<p></p>
			  	<label th:text="#{label.game.age}"></label>
				<input th:field="*{age}" />
				<p data-th-text="#{label.age.info}"></p>
				<p></p>
				<label th:text="#{label.platform}"></label>
			 	<select id="platformlist" th:field="*{platform}" class="form-control">
       				<option th:each="platform: ${platforms}" th:value="${platform.id}" th:text="${platform.name}"></option>
    			</select>
    			<div style="clear: both; display: block; height: 10px;"></div>
				<input type="submit" class="btn btn-success" th:value="#{label.save}"></input>
			</form>
			<p></p>
			<a href="/" class="btn btn-info" data-th-text="#{label.back}"></a>
			<p></p>
			<form th:action="@{logout}" method="post">
				<input type="submit" th:value="#{label.logout}" class="btn btn-danger" />
			</form>
		</div>
	</body>
</html>