<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<meta http-equiv="Content-Type" contect="text/html" charset="UTF-8">
		<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
		<title>Game Library</title>
	</head>
<body>
	<h2>Game Library</h2>
	<a href="/login" class="btn btn-default">Log In</a>
	<div>
		<h3 th:inline="text" sec:authorize="hasAuthority('ADMIN')">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
		<table class="table table-default">
			<thead>
				<tr>
					<th>Title</th>
					<th>Release Year</th>
					<th>Age Restriction</th>
					<th>Platform</th>
					<th>Attributes</th>
					<th sec:authorize="hasAuthority('ADMIN')">Edit</th>
					<th sec:authorize="hasAuthority('ADMIN')">Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each = "game : ${games}">
					<td th:text ="${game.title}"></td>
					<td th:text ="${game.year}"></td>
					<div th:unless="${game.age} == 0"><td  th:text ="${game.age}" ></td></div>
					<div th:if="${game.age} == 0"><td>N/A</td></div>
					<td th:text ="${game.platform.name}"></td>
					<td><a th:href="@{/gameattributes/{id}(id=${game.id})}">Game Attributes</a></td>
					<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edit/{id}(id=${game.id})}">Edit</a></td>
					<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${game.id})}" class="btn btn-danger">Delete</a><td>
				</tr>
			</tbody>
		</table>
		<a href="/addgame" class="btn btn-default" sec:authorize="hasAuthority('ADMIN')">Add a new game</a>
		<a href="/platforms" class="btn btn-default">To platforms</a>
		<a href="/attributes" class="btn btn-default">To attributes</a>
		<form sec:authorize="hasAuthority('ADMIN')" th:action="@{logout}" method="post">
			<input type="submit" value="Sign out" class="btn btn-danger" />
		</form>
	</div>
</body>
</html>