<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<meta http-equiv="Content-Type" contect="text/html" charset="UTF-8">
		<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
		<title>Game Library</title>
	</head>
<body>
	<h2>Game Library</h2>
	<div>
		<table class="table table-default">
			<thead>
				<tr>
					<th>Title</th>
					<th>Year</th>
					<th>Age Restriction</th>
					<th>Platform</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each = "game : ${games}">
					<td th:text ="${game.title}"></td>
					<td th:text ="${game.year}"></td>
					<div th:unless="${game.age} == 0"><td  th:text ="${game.age}" ></td></div>
					<div th:if="${game.age} == 0"><td>n/a</td></div>
					<td th:text ="${game.platform.name}"></td>
				</tr>
			</tbody>
		</table>
		<a href="/addgame" class="btn btn-default">Add a new game</a>
	</div>
</body>
</html>