<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<meta http-equiv="Content-Type" contect="text/html" charset="UTF-8">
		<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
		<title>Game Library</title>
	</head>
<body>
	<div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Title</th>
					<th>Year</th>
					<th>Age Restriction</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each = "game : ${games}">
					<td th:text ="${game.title}"></td>
					<td th:text ="${game.year}"></td>
					<td th:unless="${game.age} == 0" th:text ="${game.age}" ></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>