<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
		<title data-th-text="#{label.login}"></title>
	</head>
	<body>
		<div>
			<h2 data-th-text="#{label.login}"></h2>
			<form th:action="@{/login}" method="POST">
				<div>
					<label th:text="#{label.username}"></label>
					<input type="text" name="username" /></div>
				<div>
					<label th:text="#{label.password}"></label>
					<input type="password" name="password" />
				</div>
				<div><input type="submit" class="btn btn-success" th:value="#{label.login}" /></div>
			</form>
		</div>
		<a href="/" class="btn btn-info" data-th-text="#{label.back}"></a>
		<p>
		<p th:if="${param.error}" th:text="#{label.login.invalid}"></p>
		<p th:if="${param.logout}" th:text="#{label.logout.text}"></p>
	</body>
</html>