<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<meta http-equiv="Content-Type" contect="text/html" charset="UTF-8">
		<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />		
		<title data-th-text="#{label.platforms}"></title>
	</head>
	<body>

		<div>
			<h2 data-th-text="#{label.platforms}"></h2>
			<table class="table table-default">
				<thead>
					<tr>
						<th data-th-text="#{label.platform}"></th>
						<th>ID</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each = "platform : ${platforms}">
						<td th:text ="${platform.name}"></td>
						<td th:text ="${platform.id}"></td>
					</tr>
				</tbody>
			</table>
			<a sec:authorize="hasAuthority('ADMIN')" data-th-text="#{label.add.platform}" href="/addplatform" class="btn btn-default"></a>
			<a href="/gamelibrary" class="btn btn-info" data-th-text="#{label.back}"></a>
			<p></p>
			<form sec:authorize="hasAuthority('ADMIN')" th:action="@{logout}" method="post">
				<input type="submit" th:value="#{label.logout}" class="btn btn-danger" />
			</form>
		</div>
	</body>
</html>